nav {
  height: 50px;
  background-color: lightgrey;
}

.inline-block{
  display:inline-block;
}

.left{
  float:left;
  height: 500px;
}

.right{
  float:right;
  height: 500px;
}

/* target the class of inline-block below */

/* target the class of .left below */

/* target the class of .right below */
